<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>RootServlet</servlet-name>
    <servlet-class>com.pingidentity.oauthplayground.servlets.RootServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.pingidentity.oauthplayground.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.pingidentity.oauthplayground.servlets.RootServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RootServlet</servlet-name>
    <url-pattern>/welcome/*</url-pattern>
    <url-pattern>/settings/*</url-pattern>
    <url-pattern>/authorization_code/*</url-pattern>
    <url-pattern>/implicit/*</url-pattern>
    <url-pattern>/client_credentials/*</url-pattern>
    <url-pattern>/resource_owner/*</url-pattern>
    <url-pattern>/saml_bearer_profile/*</url-pattern>
    <url-pattern>/jwt_bearer_profile/*</url-pattern>
    <url-pattern>/blank_token_endpoint/*</url-pattern>
    <url-pattern>/manage_grants/*</url-pattern>
    <url-pattern>/device_flow/*</url-pattern>
    <url-pattern>/ciba/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>

</web-app>
